#skills {
    background: #FFF;
    color: #333;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: #333;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;


}

#skills .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-info{
    margin: 20px;
}

.skill-info img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #333;
}